<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="sitecore" connectionString="user id=sa;password=6HY7qSlUjixB8Ng;Data Source=172.24.16.177;Database=DICE_Statistics" />
  </connectionStrings>
<appSettings>
  <add key="sitecoreURL" value="http://119.9.120.96"/>
</appSettings>
</configuration>